<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Local Farm</title>
</head>
<body>

{% include 'layout/_header.twig' %}

{% block content %}

{% endblock %}

{% include 'layout/_footer.twig' %}

</body>
</html>
