<article class="card-small-post row">
    <div class="col-md-3">
        <img src="images/{{ post.image }}" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-9">
        <time>{{ post.date }}</time>
        <h5>{{ post.title }}</h5>
    </div>
</article>
