<div class="card card-post">
    <div class="card-img card-img-with-border">
        <span class="card-img-label">{{ post.date }}</span>
        <img src="images/{{ post.image }}" class="card-img-top img-fluid" alt="{{ post.title }}">
    </div>
    <div class="card-body">
        <h3 class="card-title">
            {{ post.title }}
        </h3>
    </div>
    <div class="card-footer">
        <a href="post.html" class="btn btn-primary">
            <i class="fa-solid fa-eye"></i>
            Voir plus
        </a>
    </div>
</div>
