{% extends "../base.twig" %}

{% block content %}
    <header class="page-header" style="background-image: url('images/post-1.jpg')">
        <h1>A Clean Water Gives More Good Taste</h1>
    </header>

    <section class="section">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsum, laborum! Beatae commodi ducimus, eligendi, enim error est impedit ipsa maiores neque pariatur quam reprehenderit saepe sapiente totam voluptatum. Placeat.</p>
        </div>
    </section>
{% endblock %}
