<a href="#" class="card card-category">
    <div class="card-body">
        <div class="card-icon">
            <i class="{{ category.icon }}"></i>
        </div>
        <h3 class="card-title">
            {{ category.title }}
        </h3>
        <p class="card-text text-center">
            {{ category.excerpt }}
        </p>
    </div>
</a>
